<ion-header>
  <ion-toolbar>
    <ion-title>Control Financiero</ion-title>
    <ion-buttons slot="end" size="large">
      <ion-button id="logout" (click)="logOut()">
        <ion-icon name="log-out" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Mensaje de estado -->
  <!--Card de saldo-->
  <div id="saldo">
    <ion-card button="true" mode="ios">
      <ion-card-header>
        <ion-card-title>$50.000,00</ion-card-title>
        <ion-card-subtitle>Saldo</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

  <div id="card-ingresos-egresos">
    <ion-card button="true" mode="ios">
      <ion-card-header>
        <ion-card-title>$50.000,00</ion-card-title>
        <ion-card-subtitle>Ingresos</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card button="true" mode="ios">
      <ion-card-header>
        <ion-card-title>$50.000,00</ion-card-title>
        <ion-card-subtitle>Egresos</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openCategoryModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Modal para categorías -->
  <ion-modal #categoryModal trigger="open-income-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Crear Categoría</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="categoryModal.dismiss()">Cancelar</ion-button>
            <ion-button [disabled]="!isCategoryFormValid()" (click)="createCategory()">Crear</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input label="Nombre" [(ngModel)]="newCategory.name" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Icono" [(ngModel)]="newCategory.icon" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Color" [(ngModel)]="newCategory.color" required></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
